@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: white;
}
header {
    width: 100%;
    height: 30%;
    background: #1f4775;
}
h1 {
    text-align: center;
    font-size: 2em;
    padding: 20px;
    color: white;
    font-weight: bold;


}

.firstLayer {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 20px;
    max-width: 800px;
    max-height: 800px;
    margin: 70px ;
    font-size: 1.5em;
    border: solid;

}

.inputs {
    width: 100%;

}

label {
    margin-bottom: 5px;
}

select {
    width: 65%;
    margin-bottom: 10px;
}

.text {
    width: 100%;
    font-size: 0.5em;
}

h3#resultOfConver {
    text-align: center;
    margin-top: 15px;
}

.second-link {
    color: white;
    background-color: #1f4775;
    width: 546px;
}
.first-link {
    color: black;
}

@media (max-width: 600px) {
    .firstLayer {
        max-width: 100%;
    }
}

#ratesToday {
    top: 15.5%;
    position: absolute;
    right: 25%;
    border: solid;
    display: flex;
    width: 300px;
    flex-direction: column;

}

h4 {
    background-color: #1f4775;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 0.8em;

}

p {
    margin: 10px;
    word-spacing: 170px;
    text-align: justify;
    width: 100%;
}
